<a href="https://colab.research.google.com/github/Anna172/Mainor/blob/master/Divers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import math

In [0]:
#from tqdm import tqdm_notebook
#for i in tqdm_notebook(range(N)):
# просто цикл оборачиваешь в эту штуку и все

In [2]:
data = pd.read_csv("DomFull2.csv")
data.head()

   ID_W  ID_H  STATUS  A3  A3_3  ...  EDUC_F  H4_F  AGE_F  J322_F  INCOME_F
0     5  1001       3   1   NaN  ...     NaN   NaN    NaN     NaN       NaN
1     5  1002       3   2   NaN  ...     NaN   NaN    NaN     NaN       NaN
2     5  1003       3   3   NaN  ...     NaN   NaN    NaN     NaN       NaN
3     5  1004       3   4   NaN  ...     NaN   NaN    NaN     NaN       NaN
4     5  1005       3   5   NaN  ...     NaN   NaN    NaN     NaN       NaN

[5 rows x 372 columns]

In [3]:
data.shape

(131515, 372)

In [0]:
childs = set()
for main_index in range(len(data)):
  for i in range(1,5):
    Baby = "BABY" + str(i)
    #H4 = "H4_B" + str(i) , data.loc[main_index, H4]
    if data.loc[main_index, Baby] != 0:
      #child = (data.loc[main_index, Baby])
      childs.add(data.loc[main_index, Baby])

In [55]:
len(childs)

4821

In [0]:
childsFreeFather = set()
childsFreeMother = set()
for child in childs:
   for i in range(1,5):
    Baby = "BABY" + str(i)
    if (len(data[(data[Baby] == child)]) == len(data[(data[Baby]==child) & (data['FATHER'] == 0)])) & (len(data[(data[Baby] == child)]) != 0):
      childsFreeFather.add(child)
    if (len(data[(data[Baby] == child)]) == len(data[(data[Baby]==child) & (data['MOTHER'] == 0)])) & (len(data[(data[Baby] == child)]) != 0):
      childsFreeMother.add(child)

In [56]:
len(childsFreeMother)

142

In [57]:
len(childsFreeFather)

125

In [51]:
data[data["IDIND1"] == 19451]

        ID_W     ID_H  STATUS    A3  ...  H4_F  AGE_F  J322_F  INCOME_F
23621     10  2402029       1    29  ...   NaN    NaN     NaN       NaN
28250     11  2402029       1    29  ...   NaN    NaN     NaN       NaN
33030     12  2402029       1    29  ...   NaN    NaN     NaN       NaN
37704     13  2402029       1    29  ...   NaN    NaN     NaN       NaN
42320     14  2402029       1    29  ...   NaN    NaN     NaN       NaN
42327     14  2402082       1    82  ...   NaN    NaN     NaN       NaN
87356     21  1383694       1  3694  ...   NaN    NaN     NaN       NaN
95646     22  1383694       1  3694  ...   NaN    NaN     NaN       NaN
102597    23  1383694       1  3694  ...   NaN    NaN     NaN       NaN

[9 rows x 372 columns]

In [0]:
newChildF = set()

for child in childsFreeFather:
  for ch in range(1,20):
    Baby = "IDIND" + str(ch)
    
    for index, row in data[data[Baby] == child].iterrows():
      number_members = int(row['NFM'])

      for i in range(2, number_members + 1):
        for j in range(i-1, 0, -1):
            #Ячейка  B@.9.@, при разных варианциях имеет разные форматы
            if (i >= 11 and i <= 16) and (j >= 10):
                cell = "B" + str(i) + "9_" + str(j)
            elif (i >= 17 and i <= 24) and (j >= 10):
                cell = "B" + str(i) + "_9" + str(j)
            else:
                cell = "B" + str(i) + "_9_" + str(j)
            
            #Если член семьи является отцом/матерью
            if (j == ch) & (row[cell] == 2):
                gender = "B" + str(i) + "_4"
                status = "B" + str(i) + "_2_2"
                if (row[gender] == 1) & ((row[status] == 2) ^ (row[status] == 3)):
                  vsp = []
                  vsp.append(child)
                  bd = "B" + str(j) + "5"
                  lwf = row["YEAR"] - row[bd]
                  vsp.append(lwf)
                  vsp = tuple(vsp)
                  newChildF.add(vsp)
            #Если член семьи является сыном/дочерью  
            elif (i == ch) & (row[cell] == 4):
              gender = "B" + str(j) + "_4"
              status = "B" + str(j) + "_2_2"
              if (row[gender] == 1) & ((row[status] == 2) ^ (row[status] == 3)):
                vsp = []
                vsp.append(child)
                bd = "B" + str(i) + "5"
                lwf = row["YEAR"] - row[bd]
                vsp.append(lwf)
                vsp = tuple(vsp)
                newChildF.add(vsp)

In [59]:
len(newChildF)

0

In [0]:
newChildM = set()

for child in childsFreeFather:
  for ch in range(1,20):
    Baby = "IDIND" + str(ch)
    
    for index, row in data[data[Baby] == child].iterrows():
      number_members = int(row['NFM'])

      for i in range(2, number_members + 1):
        for j in range(i-1, 0, -1):
            #Ячейка  B@.9.@, при разных варианциях имеет разные форматы
            if (i >= 11 and i <= 16) and (j >= 10):
                cell = "B" + str(i) + "9_" + str(j)
            elif (i >= 17 and i <= 24) and (j >= 10):
                cell = "B" + str(i) + "_9" + str(j)
            else:
                cell = "B" + str(i) + "_9_" + str(j)
            
            #Если член семьи является отцом/матерью
            if (j == ch) & (row[cell] == 2):
                gender = "B" + str(i) + "_4"
                status = "B" + str(i) + "_2_2"
                if (row[gender] == 1) & ((row[status] == 2) ^ (row[status] == 3)):
                  vsp = []
                  vsp.append(child)
                  bd = "B" + str(j) + "5"
                  lwf = row["YEAR"] - row[bd]
                  vsp.append(lwf)
                  vsp = tuple(vsp)
                  newChildM.add(vsp)

             #Если член семьи является сыном/дочерью       
            elif (i == ch) & (row[cell] == 4):
              gender = "B" + str(j) + "_4"
              status = "B" + str(j) + "_2_2"
              if (row[gender] == 1) & ((row[status] == 2) ^ (row[status] == 3)):
                vsp = []
                vsp.append(child)
                bd = "B" + str(i) + "5"
                lwf = row["YEAR"] - row[bd]
                vsp.append(lwf)
                vsp = tuple(vsp)
                newChildM.add(vsp)

In [61]:
len(newChildF)

0